.glassRoot {
    --glass-bg: rgba(255, 255, 255, 0.4);
    --text-color: #000000;
    --btn-stroke: #000000;
    --glass-shadow: rgba(255, 255, 255, 0.8);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

:global([data-theme="dark"]) .glassRoot {
    --glass-bg: rgba(0, 0, 0, 0.3);
    --text-color: #ffffff;
    --btn-stroke: #ffffff;
    --glass-shadow: rgba(255, 255, 255, 0.3);
}

.container {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 30px;
}

.button {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 9999px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.button:hover {
    transform: scale(1.1);
}

.glassRoot::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: inherit;
    box-shadow: inset 2px 2px 0px -2px var(--glass-shadow), inset 0 0 3px 1px var(--glass-shadow);
    background-color: var(--glass-bg);
    pointer-events: none;
}

.glassRoot::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    backdrop-filter: blur(3px);
    overflow: hidden;
    isolation: isolate;
    pointer-events: none;
}

.container::after {
    filter: var(--container-filter);
}

.button::after {
    filter: var(--button-filter);
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.content svg {
    stroke: var(--btn-stroke);
    width: 100%;
    height: 100%;
}
